<div class="header-conatiner">
  <div
    style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
    "
  >
    <h6 style="font-weight: 500">ٌRecent Orders</h6>
    <div style="cursor: pointer" routerLink="/orders">
      View Order Page <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>

  <app-custom-table [dataSource]="orders" *ngIf="!isloading"></app-custom-table>

  <div class="spinner-container">
    <mat-spinner *ngIf="isloading" diameter="42"></mat-spinner>
  </div>
</div>
