<ng-container>
  <div class="col-12 p-0 my-[42px]">
    <h6 style="font-weight: 500">Analytics</h6>
    <div class="row gy-4">
      <div class="col-12 col-sm-4 col-md-3" routerLink="/guide">
        <app-custom-analytics-card
          class="py-5"
          [data]="{
            title: 'Total Revenue',
            icon: 'assets/images/Icon_Total_Revenue.png',
            heightCard: '100%',
            currentYear: analyticsData.totalRevenue.currentYear,
            lastYear: analyticsData.totalRevenue.lastYear
          }"
        ></app-custom-analytics-card>
      </div>
      <div class="col-12 col-sm-4 col-md-3" routerLink="/faq">
        <app-custom-analytics-card
          [data]="{
            title: 'Today Revenue',
            icon: 'assets/images/Icon_Today Revenue.png',
            heightCard: '100%',
            todayRevenue: analyticsData.todayRevenue.today,
            lastDay: analyticsData.todayRevenue.lastDay
          }"
        ></app-custom-analytics-card>
      </div>

      <div class="col-12 col-sm-4 col-md-3" routerLink="/faq">
        <app-custom-analytics-card
          [data]="{
            title: 'Items Sold',
            icon: 'assets/images/Icon_Sales.png',
            heightCard: '100%',
            soldItems: analyticsData.soldItems
          }"
        ></app-custom-analytics-card>
      </div>

      <div class="col-12 col-sm-4 col-md-3" routerLink="/tutorial">
        <app-custom-analytics-card
          [data]="{
            title: ' Users Active ',
            icon: 'assets/images/Icon_Users.png',
            heightCard: '100%',
            activeUsers: analyticsData.activeUsers
          }"
        ></app-custom-analytics-card>
      </div>
    </div>
  </div>
</ng-container>
