<mat-sidenav-container class="layout-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    [mode]="isSidebarOpen ? 'side' : 'over'"
    [opened]="isSidebarOpen"
    class="sidebar"
  >
    <div class="sidebar-header">
      <img src="assets/images/logo.png" alt="Manager Pro Logo" class="logo" />
      <span class="brand-name">Manager <strong>Pro</strong></span>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        class="nav-item"
        (click)="sidebarItemSelection('dashboard')"
        [ngClass]="{ active: selectedItem == 'dashboard' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'dashboard' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'dashboard' }"
            >home</mat-icon
          >
          <span>Dashboard</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/orders"
        class="nav-item"
        [ngClass]="{ active: selectedItem == 'orders' }"
        (click)="sidebarItemSelection('orders')"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'orders' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'orders' }"
            >shopping_cart</mat-icon
          >
          <span>Orders</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/users"
        (click)="sidebarItemSelection('users')"
        [ngClass]="{ active: selectedItem == 'users' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'users' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'users' }"
            >people</mat-icon
          >
          <span>Users</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/items"
        class="nav-item"
        (click)="sidebarItemSelection('items')"
        [ngClass]="{ active: selectedItem == 'items' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'items' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'items' }"
            >storefront</mat-icon
          >
          <span>Items</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/transactions"
        class="nav-item"
        (click)="sidebarItemSelection('transaction')"
        [ngClass]="{ active: selectedItem == 'transaction' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'transaction' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'transaction' }"
            >receipt_long</mat-icon
          >
          <span>Transactions</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/reports"
        class="nav-item"
        (click)="sidebarItemSelection('reports')"
        [ngClass]="{ active: selectedItem == 'reports' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'reports' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'reports' }"
            >bar_chart</mat-icon
          >
          <span>Reports</span>
        </div>
      </a>
      <hr class="divider" />
      <a
        mat-list-item
        routerLink="/messages"
        class="nav-item messages"
        (click)="sidebarItemSelection('chat')"
        [ngClass]="{ active: selectedItem == 'chat' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'chat' }"
          [ngClass]="{ 'message-notifiy': !messageNotify }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'chat' }"
            >chat</mat-icon
          >
          <span>Messages</span>
          <span class="notification-dot"></span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/support"
        class="nav-item"
        (click)="sidebarItemSelection('support')"
        [ngClass]="{ active: selectedItem == 'support' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'support' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'support' }"
            >support</mat-icon
          >
          <span>Support</span>
        </div>
      </a>
      <a
        mat-list-item
        routerLink="/settings"
        class="nav-item"
        (click)="sidebarItemSelection('settings')"
        [ngClass]="{ active: selectedItem == 'settings' }"
      >
        <div
          class="nav-item-container"
          [ngClass]="{ active: selectedItem == 'settings' }"
        >
          <mat-icon [ngClass]="{ active: selectedItem == 'settings' }"
            >settings</mat-icon
          >
          <span>Settings</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar color="primary">
      <div class="nav-container">
        <div class="left-section">
          <button
            *ngIf="!isSidebarOpen"
            mat-icon-button
            (click)="sidenav.toggle()"
            class="menu-button"
          >
            <mat-icon>menu</mat-icon>
          </button>

          <div class="search-container" *ngIf="isSidebarOpen">
            <button class="search-btn">
              <i class="fa fa-search"></i>
            </button>
            <input type="text" placeholder="Search..." class="search-input" />
          </div>
        </div>

        <div class="right-section">
          <button mat-icon-button class="market-bag-button">
            <mat-icon>shopping_bag</mat-icon>
            <span class="badge">3</span>
          </button>
          <button mat-icon-button class="notifications-button">
            <mat-icon>notifications</mat-icon>
            <span class="badge">5</span>
          </button>

          <!-- User Profile -->
          <div class="user-profile" (click)="toggleDropdown()">
            <img
              src="assets/images/profile.png"
              alt="profile-image"
              class="profile-img"
            />
            <span class="user-name">Johny Larsen</span>
            <mat-icon class="arrow-icon">{{
              isDropdownOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"
            }}</mat-icon>
          </div>

          <!-- Dropdown Menu -->
          <div class="dropdown-menu" *ngIf="isDropdownOpen">
            <button mat-menu-item (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </mat-toolbar>

    <!-- Page Content -->
    <div class="container-fluid py-3">
      <app-analytics-cards class="d-flex wrap"></app-analytics-cards>
      <div class="row g-3">
        <div class="col-md-9 col-12">
          <app-report-chart
            class="card"
            style="border: none"
          ></app-report-chart>
        </div>
        <div class="col-md-3 col-12">
          <app-visits-chart
            class="card h-100"
            style="border: none"
          ></app-visits-chart>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <app-recent-orders></app-recent-orders>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
