<!-- Page Content -->
<div class="container-fluid p-0">
  <app-analytics-cards class="d-flex wrap"></app-analytics-cards>
  <div class="row g-3">
    <div class="col-md-9 col-12">
      <app-report-chart class="card" style="border: none"></app-report-chart>
    </div>
    <div class="col-md-3 col-12">
      <app-visits-chart
        class="card h-100"
        style="border: none"
      ></app-visits-chart>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <app-recent-orders></app-recent-orders>
    </div>
  </div>
</div>
