th {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
}

.product-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.custom-badge {
  display: inline-block;
  text-transform: capitalize;
  width: 110px;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 7px;
  text-align: center;
  min-width: 80px;
}

/* Soft Color Effects */
.pending {
  background-color: rgba(0, 123, 255, 0.15);
  color: #007bff;
}

.approved {
  background-color: rgba(40, 167, 69, 0.15);
  color: #28a745;
}

.in-process {
  background-color: rgba(255, 193, 7, 0.15);
  color: #ffc107;
}

.table-container {
  border: none;
  border-radius: 20px;
  width: 100%;
  // border-collapse: collapse;
  background-color: white;
}

.table-header {
  background-color: #eff0f0 !important;
  border-radius: 50px !important;
}
