<div class="card p-[32px]">
  <table mat-table [dataSource]="tableDataSource" class="table-container">
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="border-radius: 10px 0 0 10px"
      >
        Item
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.productId.icon"
          alt="Product Image"
          class="product-img"
        />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.productId.title }}</td>
    </ng-container>

    <!-- Qty Column -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date : "longDate" }}
      </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        ${{ element.quantity * element.productId.price }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="border-radius: 0 10px 10px 0"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          class="custom-badge"
          [ngClass]="{
            pending: element.statusId.code === 0,
            approved: element.statusId.code === 1,
            'in-process': element.statusId.code === 2
          }"
        >
          {{ element.statusId.status }}
        </span>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="table-header"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
></mat-paginator>
